.headerimg{
	width: 88px;
	height: 88px;
	border-radius: 44px;
}

/*jty*/
div.m-r-r{
	float: right;
	overflow: hidden;
}
div.inter-status{
	position: relative;
	margin-top: -10px;
}
/*--jty*/
div.inter-status p{
	position: relative;
	top: -20px;
	margin-top: 30px;
}
/*--jty*/
p.label-fun a{
	text-align: center;
	width: 60px;
	height: 30px;
	line-height: 30px;
	display: inline-block;
	border: 1px solid #dedede;
	margin-left: 20px;
	border-radius: 4px;
}

p.label-fun a:hover {
	color: #fff;
	background-color: #00e1a8;/*#25be98;*/
}