<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.group.renshi.dao.admin.UserRoleDao">

	<resultMap type="UserRoleBean" id="BaseResultMap">
		<result column="ID" property="id" />
		<result column="USER_ID" property="userId" />
		<result column="ROLE_ID" property="roleId" />
	</resultMap>

	<!-- 插入 -->
	<insert id="insert" parameterType="UserRoleBean" keyProperty="id" useGeneratedKeys="true">
		INSERT INTO admin_user_role (
			USER_ID,
			ROLE_ID
    	)
		VALUES
		(
			#{userId},
			#{roleId}
		)
	</insert>
	
	<!-- 更新 -->
	<update id="update" parameterType="UserRoleBean">
		UPDATE admin_user_role 
		SET 
			USER_ID = #{userId},
			ROLE_ID = #{roleId}
		WHERE 
			ID = #{id}
	</update>
	
	<!-- 删除 -->
	<delete id="delete" parameterType="java.lang.Integer">
		DELETE FROM 
			admin_user_role 
		WHERE 
			ID = #{value}
	</delete>
	
	<!-- 根据主键查询 -->
	<select id="load" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		SELECT 
			ID,
			USER_ID,
			ROLE_ID
		FROM 
			admin_user_role
	 	WHERE 
	 		ID = #{value}
	</select>
	
	<!-- 查询列表数据 -->
	<select id="listData" parameterType="UserRoleBean" resultMap="BaseResultMap">
		SELECT 
			ID,
			USER_ID,
			ROLE_ID
		FROM 
			admin_user_role
		WHERE
			1 = 1
			<if test="id != -1">
				and ID = #{id}
			</if>
			<if test="userId != -1">
				and USER_ID = #{userId}
			</if>
			<if test="roleId != -1">
				and ROLE_ID = #{roleId}
			</if>
    	ORDER BY
    		ID ASC
	</select>
	
	<!-- 查询分页数据 -->
	<select id="pageData" parameterType="java.util.Map" resultMap="BaseResultMap">
		SELECT 
			ID,
			USER_ID,
			ROLE_ID
		FROM
			admin_user_role
		WHERE
			1 = 1
			<if test="userRoleBean.id != -1">
				and ID = #{userRoleBean.id}
			</if>
			<if test="userRoleBean.userId != -1">
				and USER_ID = #{userRoleBean.userId}
			</if>
			<if test="userRoleBean.roleId != -1">
				and ROLE_ID = #{userRoleBean.roleId}
			</if>
    	ORDER BY
    		ID ASC
		LIMIT 
			#{pageQueryResult.startNum}, #{pageQueryResult.pageSize}
	</select>
	
	<!-- 分页数据统计总数 -->
	<select id="countPageData" parameterType="java.util.Map" resultType="java.lang.Integer">
		SELECT 
			count(1) 
		FROM 
			admin_user_role
		WHERE
			1 = 1
			<if test="userRoleBean.id != -1">
				and ID = #{userRoleBean.id}
			</if>
			<if test="userRoleBean.userId != -1">
				and USER_ID = #{userRoleBean.userId}
			</if>
			<if test="userRoleBean.roleId != -1">
				and ROLE_ID = #{userRoleBean.roleId}
			</if>
    	ORDER BY
    		ID ASC
	</select>
	
</mapper>
