body{
}

div.scroll{
	width: 100%;
	height: 368px;
	background-color: #cdcdcd;
}
div.scroll-img{
/* 	width: 1080px; */
	height: 368px;
	margin: 0 auto;
}
div.scroll-img img{
	width: 100%;
	height: 368px;
}

div.content{
	width: 1080px;
	margin: 0 auto;
	overflow:hidden;
}
div.title{
}
div.content div.title h1{
	font-size: 1.75em;
	text-align: center;
}
div.content div.title em{
	font-weight: normal;
	color: #25be98;
	border-bottom: 4px solid #25be98;
	height: 50px;
	line-height: 50px;
	display: inline-block;
	font-size:1.2em;
}
div.content div.title p{
	color: #adadad;
	margin-top: -4px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 1.125em;
	border-top: 1px solid #ccc;
}
div.title p span{
	font-size:1.125em;
}

div.content div.search{
	height: 56px;
	line-height:56px;
	border: 1px solid #dedede;
	background-color: #f5f5f5;
	margin-top: 8px;
}
div.content div.search p{
	margin-left: 20px;
	line-height: 56px;
	display: inline-block;
}
div.content div.search input{
	width: 140px;
	padding: 6px 10px;
	border: 1px solid #dedede;
}
div.content div.search img{
	position: absolute;
	width: 20px;
	height: 20px;
	margin-top:6px;
	margin-left: -22px;
}
div.content div.search select{
	padding: 4px 30px 4px 8px;
}
div.content div.search p button{
	width: 80px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #ccc;
	border-radius: 4px;
	background-color: #ebebeb;
	cursor: pointer;
}


div.c-list{
	margin-top: 20px;
}
div.left-list{
	width: 74%;
	float: left;
	border: 1px solid #dedede;
	margin-bottom: 20px;
}
p.title{
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #dedede;
	font-size: 1.45em;
	padding-left: 8px;
	color: #25be98;
}
div.doc-content{
	width: 90%;
	margin:0 auto;
	overflow: hidden;
	border-bottom: 1px solid #dedede;
	margin-bottom: 20px;
	margin-top: 20px;
}
div.doc-img{
	float: left;
	width: 90px;
}
div.doc-img img{
	width: 70px;
	height: 70px;
}
div.doc-intro{
	float: right;
	width: 620px;
}
p.doc-info{
	height: 30px;
	font-size: 1.2em;
	color: #666;
}
p.doc-info em{
	font-size:1.2em;
	color: #333;
	font-weight: bold;
	margin-right: 10px;
	font-weight:bold;
}
p.doc-info span{
	font-size: 0.825em;
	padding-left: 10px;
}
p.doc-detail{
	line-height: 23px;
	font-size: 0.925em;
}
p.doc-detail em{
	color: #000;
}
p.doc-detail span{
	color: #999;
}
div.doc-label{
	margin-top: 20px;
	margin-bottom: 25px;
	overflow: hidden;
}
p.label-name{
	float:left;
	display: inline-block;
	font-size: 0.825em;
}
p.label-name em{
	color: #000;
}
p.label-name span{
	border: 1px solid #dedede;
	color: #25be98;
	display: inline-block;
	padding: 6px 10px;
	margin-right: 8px;
	cursor: pointer;
}
p.label-fun{
	display: inline-block;
	float: right;
}
p.label-fun a{
	text-align: center;
	width: 90px;
	height: 30px;
	line-height: 30px;
	display: inline-block;
	border: 1px solid #dedede;
	margin-left: 20px;
	border-radius: 4px;
}

p.label-fun a:hover {
	color: #fff;
	background-color: #25be98;
}


div.right-list{
	width: 24%;
	float: right;
	border: 0px solid #dedede;
}
div.know{
	border: 1px solid #dedede;
	overflow: hidden;
	border-radius: 4px;
	margin-bottom: 20px;
}
div.know ul{
	width: 90%;
	margin: 0 auto;
}
div.know li{
	margin-top: 20px;
	margin-bottom: 20px;
	clear: both;
}
div.know-img{
	width: 75px;
	height: 75px;
	float: left;
}
div.know-img img{
	width: 65px;
	height: 65px;
}
div.know-intro{
}
p.know-name{
	height: 35px;
}
p.know-name em{
	color: #25be98;
	font-size: 1.25em;
	font-weight: bold;
}
p.know-name span{
	color: #999;
	margin-left: 10px;
	font-size: 0.825em;
}
p.know-info a{
	color: #6b6b6b;
	border: 1px solid #dedede;
	display: inline-block;
	width: 65px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	font-size: 0.825em;
	margin-right: 10px;
}
div.search-more{
	height: 50px;
	line-height: 50px;
	text-align: center;
	background-color: #f5f5f5;
}


div.ad{
	border: 1px solid #dedede;
	text-align: center;
	line-height: 500px;
	overflow: hidden;
	border-radius: 4px;
}