/*content start*/
.content{
	width: 1080px;
	margin: 0 auto;
	overflow: hidden;
	margin-top: 40px;
}
.con-left{
	width: 300px;
	float: left;
}
.left-head{
	border: 1px solid #dedede;
	overflow: hidden;
	height: 70px;
	border-radius: 4px;
}
.left-head li{
	position: relative;
	overflow: hidden;
	float: left;
	height: 70px;
	width: 98px;
	display: inline-block;
}
.left-head li a{
	position: relative;
	padding-left: 30px;
	display: inline-block;
	border-left: 1px solid #dedede;
	margin-top: 15px;
}
.left-head li.firstchild a{
	border-left: 0px;
}
.left-head span,.left-head em{
	display: block;
	text-align: center;
	font-size: 0.8em;
}
.left-head em{
	color: #000;
	font-size: 18px;
	margin-bottom: 4px;
}
.left-head span{
	color: #999;
}


div.con{
	height: 247px;
	width: 298px;
	border: 1px solid #dedede;
	border-bottom: 3px solid #dedede;
	margin-top: 20px;
	border-radius: 4px;
}
div.con li{
	width: 298px;
	height: 49px;
	line-height: 49px;
	border-bottom: 1px solid #dedede;
}
div.con img{
	position: absolute;
	width: 40px;
	height: 45px;
	margin-top: 3px;
	margin-left: 16px;
	clear: both;
}
div.con span{
	display: inline-block;
	text-align: left;
	width: 190px;
	padding-left: 80px;
}
div.con a{
	display: block;
	text-decoration: underline;
	color: #00f;
	font-size: 14px;
	color: #1fdcaa;
	text-decoration: none;
	font-size: 16px;
}
div.con li.con-choice a{
	background-color: #1fdcaa;
	color: #fff;
}

div.info-mess{
	width: 298px;
	height:147px;
	border: 1px solid #dedede;
	border-radius: 4px;
	margin-top: 20px;
	font-size: 14px;
}
div.info-mess li{
	width: 148px;
	height: 48px;
	line-height: 48px;
	float: left;
	border-right: 1px solid #dedede;
	border-bottom: 1px solid #dedede;
}
div.info-mess li.no-right{
	border-right: 0px;
}
div.info-mess li:last-child{
	border-right: 0px;
	border-bottom: 0px;
}
div.info-mess img{
	position: absolute;
	width: 22px;
	height: 22px;
	margin-top: 12px;
	margin-left: 10px;
}
div.info-mess a{
	margin-left: 38px;
	width: 60px;
	height: 49px;
	display: inline-block;
}
div.info-mess em{
	padding-left: 4px;
	padding-right: 4px;
	background-color: #ebebeb;
	color: #666;
}
div.info-mess em.new-mess{
	padding-left: 4px;
	padding-right: 4px;
	border-radius: 4px;
	background-color: #f95c5f;
	color: #fff;
}

div.intro-manager{
	width: 298px;
	height: 49px;
	line-height: 49px;
	border: 1px solid #dedede;
	border-radius: 4px;
	margin-top: 20px;
}
div.intro-manager p{
}
div.intro-manager p img{
	position: absolute;
	margin-left: 50px;
	margin-top: 4px;
}
div.intro-manager p a{
	text-align: center;
	display: inline-block;
	width: 298px;
}

div.hot{
	margin-top: 20px;
	margin-bottom: 20px;
	border: 1px solid #dedede;
	width: 298px;

}
div.hot p.title{
	height: 50px;
	line-height: 50px;
	padding-left: 20px;
	color: #1fdcaa;
	border-bottom: 1px solid #dedede;
	margin-bottom: 10px;
}
div.hot div.list{
	width: 240px;
	height: 90px;
	margin:0 auto;
	margin-bottom: 20px;
	border-bottom: 1px dotted #dedede;
}
div.hot div.list-left{
	float: left;
	width: 55px;
	height: 60px;
	margin-top: 15px;
}
div.hot div.list-left img{
	width: 50px;
	height: 60px;
}
div.hot div.list-right{
	float: right;
	width: 175px;
	height: 60px;
	margin-top: 15px;
	font-size: 14px;
	color: #666;
}
div.hot div.list-right em{
	font-style: normal;
}
div.hot div.list-right h4{
	display: inline;

}
div.hot span.total,div.hot span.share{
	position: relative;
	top: 15px;
}
div.hot span.share{
	float: right;
}
div.hot span.share a{
	color: #1fdcaa;
	padding-left: 2px;
	padding-right: 2px;
}



.con-right{
	width: 765px;
	float: right;
	overflow: hidden;
}
.con-nav{
	height: 220px;
	border: 1px solid #dedede;
	border-radius: 4px;
}
.con-nav p.title{
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #dedede;
	color: #25BE98;
	padding-left: 30px;
}
.con-nav ul{
	width: 720px;
	margin: 0 auto;
	overflow: hidden;
}
.con-nav li{
	width: 120px;
	overflow: hidden;
	float: left;
	margin-top: 25px;
}

.con-nav a.nav-detail{
	width: 70px;
	height: 100px;
	margin: 0 auto;
	display: block;
	font-size: 14px;
}
.con-nav img{
	width: 70px;
	height: 70px;
	clear: both;
}
.con-nav span{
	display: block;
	text-align: center;
	font-size: 0.925em;
	height: 25px;
	line-height: 25px;
}
.con-nav a.nav-send{
	width: 70px;
	height: 23px;
	line-height: 23px;
	text-align: center;
	border: 1px solid #1fdcaa;
	display: inline-block;
	margin-left: 24px;
	border-radius: 4px;
	font-size: 14px;
}




div.status{
	height: 54px;
	line-height: 54px;
	margin-top: 15px;
	border: 1px solid #dedede;
	border-radius: 4px;
	overflow: hidden;
}
div.status-select{
	float: left;
	margin-left: 30px;
}
div.status-select select{
	font-size: 16px;
	height: 30px;
	line-height: 30px;
	color: #1fdcaa;
	border: 0px solid #cdcdcd;
}
div.status-select select option{
	padding-top: 8px;
	padding-bottom: 8px;
	height: 30px;
	line-height: 30px;
}
div.status-part{
	float: right;
	margin-right: 30px;
}
div.status-part span{
	font-size: 14px;
	margin-left: 5px;
	margin-right: 5px;
	cursor: pointer;
}
div.status-part span.choice{
	color: #1fdcaa;
}


div.infos{
	margin-top: 20px;
	overflow: hidden;
}
div.infos-list{
	border: 1px solid #dedede;
	border-radius: 4px;
	margin-bottom: 20px;
}
div.send-list{
	overflow: hidden;
	background-color: #fff;
}
div.list-logo{
	width: 140px;
	overflow: hidden;
	display: inline-block;
	float: left;
}
div.list-logo img{
	width: 100px;
	height: 100px;
	margin-top: 20px;
	margin-left: 20px;
}
div.list-content{
	float: right;
	margin-top: 20px;
	margin-right: 20px;
	color: #666;
	width: 590px;
}
h3.doc-intro,h3.title{
	font-weight: normal;
	height: 30px;
}
h3.doc-intro em{
	color: #1fdcaa;
}
h3.doc-intro span{
	font-size: 14px;
	margin-left: 15px;
}
div.list-content p{
	color: #999;
	font-size: 14px;
	line-height: 20px;
}
div.list-content ul{
	margin-top: 10px;
	overflow: hidden;
}
div.list-content ul li{
	float: left;
	width: 162px;
	height: 126px;
	margin-right: 10px;
}
div.list-content ul li img{
	width: 162px;
	height: 126px;
}
div.time{
	height: 40px;
	line-height: 40px;
	color: #999;
	font-size: 14px;
}
div.time span{
	margin-right: 4px;
}
div.time em{
	margin-left: 4px;
	color: #333;
}

/*jty  edit  start*/
em.title-right{
	float: right;
	margin-right: 20px;
}
em.title-right a{
	font-size: 14px;
	color: #333;
	margin-right: 16px;
}
em.title-right a.title-choice{
	color: #25BE98;
}
/*jty  edit  end*/

div.infos-list ul.fun{
	border-top: 1px solid #dedede;
	border-bottom: 1px solid #dedede;
	overflow: hidden;
}
div.infos-list ul.fun li{
	float: left;
	width: 190px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	display: inline-block;
	border-left: 1px solid #dedede;
}
div.infos-list ul.fun li a{
	display: inline-block;
	width: 190px;
	font-size: 14px;
}
div.infos-list ul.fun li:first-child{
	border-left: 0px;
}
/*content end*/
#searchTypeSelect {
	background-color: white;
	border: 1px solid #dedede;
	cursor: pointer;
	line-height: 40px;
	text-align: center;
}

#searchTypeInput {
	font-size: 14px;
	color: #1fdcaa;
	border: 0px solid #cdcdcd;
	cursor: pointer;
}