<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.group.renshi.dao.qa.MentionDao">

	<resultMap type="MentionBean" id="BaseResultMap">
		<result column="ID" property="id" />
		<result column="ACCOUNT_ID" property="accountId" />
		<result column="MSG" property="msg" />
		<result column="IS_READ" property="isRead" />
		<result column="COMMON_ID" property="commonId" />
		<result column="CREATE_DATE" property="createDate" />
		<result column="UPDATE_DATE" property="updateDate" />
	</resultMap>

	<!-- 插入 -->
	<insert id="insert" parameterType="MentionBean" keyProperty="id" useGeneratedKeys="true">
		INSERT INTO qa_mention (
			ACCOUNT_ID,
			MSG,
			IS_READ,
			COMMON_ID,
			CREATE_DATE,
			UPDATE_DATE
    	)
		VALUES
		(
			#{accountId},
			#{msg},
			#{isRead},
			#{commonId},
			#{createDate},
			#{updateDate}
		)
	</insert>

	<!-- 更新 -->
	<update id="update" parameterType="MentionBean">
		UPDATE qa_mention
		SET
			ACCOUNT_ID = #{accountId},
			MSG = #{msg},
			IS_READ = #{isRead},
			COMMON_ID = #{commonId},
			CREATE_DATE = #{createDate},
			UPDATE_DATE = #{updateDate}
		WHERE
			ID = #{id}
	</update>

	<!-- 删除 -->
	<delete id="delete" parameterType="java.lang.Integer">
		DELETE FROM
			qa_mention
		WHERE
			ID = #{value}
	</delete>

	<!-- 根据主键查询 -->
	<select id="load" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		SELECT
			ID,
			ACCOUNT_ID,
			MSG,
			IS_READ,
			COMMON_ID,
			CREATE_DATE,
			UPDATE_DATE
		FROM
			qa_mention
	 	WHERE
	 		ID = #{value}
	</select>

	<!-- 查询列表数据 -->
	<select id="listData" parameterType="MentionBean" resultMap="BaseResultMap">
		SELECT
			ID,
			ACCOUNT_ID,
			MSG,
			IS_READ,
			COMMON_ID,
			CREATE_DATE,
			UPDATE_DATE
		FROM
			qa_mention
		WHERE
			1 = 1
			<if test="id != null">
				and ID = #{id}
			</if>
			<if test="accountId != -1">
				and ACCOUNT_ID = #{accountId}
			</if>
			<if test="msg != null">
				and MSG = #{msg}
			</if>
			<if test="isRead != null">
				and IS_READ = #{isRead}
			</if>
			<if test="commonId != null">
				and COMMON_ID = #{commonId}
			</if>
			<if test="createDate != null">
				and CREATE_DATE = #{createDate}
			</if>
			<if test="updateDate != null">
				and UPDATE_DATE = #{updateDate}
			</if>
    	ORDER BY
    		ID ASC
	</select>

	<!-- 查询分页数据 -->
	<select id="pageData" parameterType="java.util.Map" resultMap="BaseResultMap">
		SELECT
			ID,
			ACCOUNT_ID,
			MSG,
			IS_READ,
			COMMON_ID,
			CREATE_DATE,
			UPDATE_DATE
		FROM
			qa_mention
		WHERE
			1 = 1
			<if test="mentionBean.id != null">
				and ID = #{mentionBean.id}
			</if>
			<if test="mentionBean.accountId != -1">
				and ACCOUNT_ID = #{mentionBean.accountId}
			</if>
			<if test="mentionBean.msg != null">
				and MSG = #{mentionBean.msg}
			</if>
			<if test="mentionBean.isRead != null">
				and IS_READ = #{mentionBean.isRead}
			</if>
			<if test="mentionBean.commonId != null">
				and COMMON_ID = #{mentionBean.commonId}
			</if>
			<if test="mentionBean.createDate != null">
				and CREATE_DATE = #{mentionBean.createDate}
			</if>
			<if test="mentionBean.updateDate != null">
				and UPDATE_DATE = #{mentionBean.updateDate}
			</if>
    	ORDER BY
    		ID ASC
		LIMIT
			#{pageQueryResult.startNum}, #{pageQueryResult.pageSize}
	</select>

	<!-- 分页数据统计总数 -->
	<select id="countPageData" parameterType="java.util.Map" resultType="java.lang.Integer">
		SELECT
			count(1)
		FROM
			qa_mention
		WHERE
			1 = 1
			<if test="mentionBean.id != null">
				and ID = #{mentionBean.id}
			</if>
			<if test="mentionBean.accountId != -1">
				and ACCOUNT_ID = #{mentionBean.accountId}
			</if>
			<if test="mentionBean.msg != null">
				and MSG = #{mentionBean.msg}
			</if>
			<if test="mentionBean.isRead != null">
				and IS_READ = #{mentionBean.isRead}
			</if>
			<if test="mentionBean.commonId != null">
				and COMMON_ID = #{mentionBean.commonId}
			</if>
			<if test="mentionBean.createDate != null">
				and CREATE_DATE = #{mentionBean.createDate}
			</if>
			<if test="mentionBean.updateDate != null">
				and UPDATE_DATE = #{mentionBean.updateDate}
			</if>
    	ORDER BY
    		ID ASC
	</select>
	
</mapper>
